/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

/* Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Colors */

:root {
  --primary-color: #fff;
  --secondary-color: #acacac;
  --tertiary-color: #5d5d5d;
  --accent-color: #95fe3a;
  --support-color: #2b2b2b;
  --background-color: #050505;
  --text-color: #e3e3e3;
}

::selection {
  background-color: #184c9b; /* Background color when text is selected */
}

/*
**************************
Global CSS 
**************************
*/

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: var(--primary-color);
}

body {
  font-family: "Inter", serif;
  background-color: var(--background-color);
}

h1,
h2 {
  font-family: "Alice", serif;
}

h1 {
  font-weight: 400;
  font-size: 5rem;
  line-height: 100%;
  text-align: left;
}

h1.centered {
  text-align: center;
  width: 984px;
}

h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

p.centered {
  text-align: center;
  padding: 0 14%;
}

a {
  text-decoration: none;
}

p a {
  color: var(--accent-color);
  position: relative;
}

p a::after {
  content: "";
  position: absolute;
  left: 50%; /* Start from the center */
  transform: translateX(-50%);
  height: 1px; /* thickness of the underline */
  width: 0;
  bottom: -4px; /* Adjust this to move the underline closer or further from the text */
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

p a:hover::after {
  width: calc(100%);
}

ul {
  padding-left: 16px;
}

li {
  color: var(--text-color);
}

.highlight {
  color: var(--accent-color);
}

.header,
.hero,
.gallery {
  position: relative;
  z-index: 2;
}

/* Primary button */

.buttonet {
  padding: 12px 48px;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--background-color);
  font-weight: 600;
  font-size: 0.875rem;
}

.buttonet:hover {
  background-color: var(--primary-color);
}

/*
**************************
Project components
**************************
*/

.project {
  width: 100%;
  max-width: 1120px; /* Limit width for larger screens */
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 140px;
  align-items: center;
}

/***** Project hero ******/

.project .hero {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.project .hero .title {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project .hero img {
  height: 555px;
  border-radius: 4px;
  object-fit: cover; /* Cover the container while preserving aspect ratio */
}

/***** Project meta details ******/

.meta {
  display: flex;
  gap: 96px;
  width: 100%;
  flex-wrap: wrap; /* This allows wrapping on smaller screens */
}

.meta-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.meta-group h3 {
  color: var(--secondary-color);
  font-size: 0.95rem;
}

.meta-items {
  padding: 0;
  color: var(--primary-color);
  list-style-type: none;
}

/***** Sticky-text-gallery ******/

.sticky-text-gallery {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.sticky-text-gallery .text-section {
  flex: 1;
  position: sticky;
  top: 40px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sticky-text-gallery .gallery {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sticky-text-gallery .gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/***** Key contributions ******/

.key-contributions {
  perspective: 1000px;
}
.key-contributions-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background: radial-gradient(53.4019% 96.0134% at 50% 24.5%, rgb(69, 69, 57) 0%, rgb(0, 0, 0) 72.6104%);
  border-radius: 8px;
  box-shadow: rgba(194, 193, 134, 0.14) 0px 0px 8px 6px;
  border: 1px solid var(--tertiary-color);
  padding: 32px 60px 48px;
  text-align: center;
}

.key-contributions ul {
  padding: 0;
  color: var(--primary-color);
  list-style-type: none;
  text-align: center;
}

/***** Prizes and awards ******/

.prizes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.prizes-container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.prizes-container img {
  max-height: 100px;
  max-width: 250px;
  filter: grayscale(100%); /* Apply grayscale */
  transition: filter 0.3s ease-out; /* Smooth transition on hover */
}

.prizes-container img:hover {
  filter: grayscale(0%); /* Remove grayscale */
  cursor: pointer;
}

/***** Info blocks ******/

.info-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 740px;
}

.info-block ul {
  padding-left: 16px;
  color: var(--primary-color);
}

.info-block ul li {
  margin-top: 4px;
}

/***** Documentation ******/

.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.documentation-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 740px;
}

.before-and-after {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.before-and-after figure {
  text-align: center;
  flex: 1; /* Allow figures to share available space equally */
}

.before-and-after figcaption {
  color: var(--text-color);
  margin-bottom: 24px;
}

.before-and-after img {
  border-radius: 4px;
}

/********* Overlay on Lightbox image *********/

.imageoverlay {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.imageoverlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  z-index: 1;
  pointer-events: none; /* Prevents the overlay from blocking interactions */
}

.imageoverlay:hover::before {
  background-color: rgba(0, 0, 0, 0.2); /* Black with 50% opacity on hover */
}

/* Media query for smaller screens */

@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
  .main-content {
    gap: 80px;
  }
  .prizes-container {
    flex-direction: column;
    gap: 48px;
  }
  .sticky-text-gallery {
    flex-direction: column;
  }
  .sticky-text-gallery .text-section {
    position: relative;
    top: 0px;
    max-width: max-content;
  }
  .before-and-after {
    flex-direction: column;
    gap: 16px; /* Adjust gap if needed */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  p.centered {
    padding: 0;
  }
  .meta {
    gap: 48px;
  }
  .main-content {
    gap: 48px;
  }
}
